* {
    font-family: var(--font-family);
}

html {
    font-size: 16px; /* Basstorlek */
}

body {
    width: 100cqw;
    min-height: 100cqh;
    display: flex;
    place-content: center;
    place-items: flex-start center;
    background: var(--bg);
    cursor: url('SVG/cross.svg') 16 16, auto;
  }

.generator {
    z-index:1;
}

button {
    padding: 10px 20px;
    margin: 10px 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 3rem;
}
button:hover {
    opacity: 0.9;
}
select {
    padding: 10px 20px;
    margin: 10px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 3rem;


}

.output p h2 {
    color: white;
}
